*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(58, 144, 144);
    font-size: 0.8em;
    color: black;
}
.wrap{
    width: 80%;
    background-color: rgb(177, 239, 239);
    margin:0 auto ;
    padding: 20px;
}
h2{
    margin-top: 20px;
}